# See https://wiki.hyprland.org/Configuring/Monitors/
# List current monitors and resolutions possible: hyprctl monitors
# Format: monitor = [port], resolution, position, scale

# Optimized for retina-class 2x displays, like 13" 2.8K, 27" 5K, 32" 6K.
env = GDK_SCALE,1

{{ if eq .chezmoi.hostname "omarchy-work" }}
# Omarchy Laptop
monitor=desc:AU Optronics 0x7DB2, 2560x1600@240.00Hz, auto, auto  # Laptop
monitor=desc:LG Electronics LG ULTRAWIDE 112NTGYBP239, 3440x1440@84.96Hz, auto-left, auto # Laptop - extended

workspace=1,monitor:HDMI-A-1, default:true
workspace=2,monitor:HDMI-A-1
workspace=3,monitor:HDMI-A-1
workspace=4,monitor:AU Optronics 0x7DB2, default:true
workspace=5,monitor:AU Optronics 0x7DB2
workspace=6,monitor:AU Optronics 0x7DB2
{{ else }}
# Omarchy PC
monitor=DP-1,2560x1440@239.99Hz,auto,auto  # PC Center
monitor=DP-3,2560x1440@165Hz,auto,auto  # PC Right

workspace=1,monitor:DP-1, default:true
workspace=2,monitor:DP-1
workspace=3,monitor:DP-1
workspace=4,monitor:DP-3, default:true
workspace=5,monitor:DP-3
workspace=6,monitor:DP-3
{{ end }}

# Good compromise for 27" or 32" 4K monitors (but fractional!)
# env = GDK_SCALE,1.75
# monitor=,preferred,auto,1.666667

# Straight 1x setup for low-resolution displays like 1080p or 1440p
# env = GDK_SCALE,1
# monitor=,preferred,auto,1

# Example for Framework 13 w/ 6K XDR Apple display
# monitor = DP-5, 6016x3384@60, auto, 2
# monitor = eDP-1, 2880x1920@120, auto, 2
