# Dracula Theme

define theme:
  description = "Dracula theme"

  colors:
    # General UI colors
    exclusion = "color255 on color59"
    today     = "color117"
    holiday   = "color61"
    label     = "color61"
    ids       = "color141"
    debug     = "color117"

  # Rotating color palette for tags
  palette:
    color01 = "color235 on color141"
    color02 = "color235 on color84"
    color03 = "color235 on color117"
    color04 = "color235 on color215"
    color05 = "color235 on color212"
    color06 = "color235 on color228"
    color07 = "color255 on color61"
    color08 = "color255 on color203"

reports.summary.ids = yes
reports.summary.annotations = yes
